# {{endpoint_collection.tag.name}}


Method | HTTP Request | Description
------------- | ------------- | -------------
{% for endpoint in endpoint_collection.endpoints %}
[**{{module_name(endpoint)}}**](#{{module_name(endpoint)}}) | {{endpoint.method.upper()}} {{endpoint.path}} | {{endpoint.description}}
{% endfor %}


{% for endpoint in endpoint_collection.endpoints %}
# **{{module_name(endpoint)}}**

{% if endpoint.summary %}{{ endpoint.summary | wordwrap(100)}}

{% endif -%}
{%- if endpoint.description %} {{ endpoint.description | wordwrap(100) }}

{% endif %}

{% set all_parameters = endpoint.list_all_parameters() %}
{% if all_parameters %}
### Parameters:
Name | Type | Description
------------ | ------------- | -------------
{% for parameter in all_parameters %}
{{parameter.python_name}} | {% if parameter.is_base_type %}{{parameter.get_type_string(no_optional=True)}}{% else %}[{{parameter.get_type_string(no_optional=True)}}]({{parameter.get_type_string(no_optional=True)}}){% endif %} | {{parameter.description}}
{% endfor %}

{% endif %}

### Response Type
{{ endpoint.response_type() }}

{% endfor %}